
.header{
	color: #070e3a;
	text-align: center;
	font-family: Blippo, fantasy;
	
}

.column {
    float: left;
    width: 25%;
    padding: 10px;

    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.origin1{

}
 body {background-color: #0e1b3d;}
#color{
	opacity: 0.5;
}