/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 3px;
	padding: 4px;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: lightgray;
}

/*Remove this h1 Rule! */


	

h1{
	margin:5px;
	padding:35px;
	width:500px;
	border-style:dashed;
	border-color: yellow;
	font-size: 15px;
	text-align: center;
	 position: absolute;
    left:30%;
    top:30%;

}

